@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/dropdown";
@import "../../../node_modules/bootstrap/scss/nav";
@import "../../../node_modules/bootstrap/scss/navbar";
@import "../../../node_modules/bootstrap/scss/transitions";

.filters {
  nav {
    background-color: white;
    border-radius: 1vh;
    width: 15vw;
    margin-top: 5%;
  }
}

.filtersContainer {
  padding: 0.5vh 3vh;
  background-color: white;
  border-radius: 1vh;
}

.boton-limpiar-flitros {
  margin-bottom: 1vw;
  margin-top: 0.5vw;
}

.filter-section {
  margin: 0.5vh 0;

  label {
    padding: 0 2px;
  }

  &-container {
    h4 {
      text-align: left;
    }

    margin: 1vh 1vw;
  }
}

.linea {
  background-color: green;
  width: 50%;
  margin: auto;
  height: 3px;
  border-radius: 20%;
}

.ubicacion-buttons {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 1.2vh;
  gap: 1vw;
}

.buscador-maps {
  padding: 4px;
  margin-top: 0.5vh;
  margin-right: 10px;
  border-radius: 0.5vw;
  border-color: #acd1ab;
  border-style: double;
  width: 80%;
}

.boton-maps {
  background-color: green;
  width: fit-content;
  padding: 0 10%;
  height: 3vh;
  border-radius: 0.5vw;
  color: white;
  font-weight: bold;
  border-style: hidden;
}

.clickable {
  cursor: pointer;
}

.checkbox {
  margin: 0.5vh;
}

.trash-icon {
  color: green;
}

.dropwdown-filters {
  background-color: white;

  .dropdown-menu {
    width: 16vw !important;
  }

  a {
    font-size: 18px;
    font-weight: bold;
    color: green !important;
    margin-left: 0;
  }

  .mantine-Checkbox-root {
    margin: 1vh 0vw 1vh 1vw;
  }
}

.filters-bar {
  justify-content: center;
  width: 100%;
}

.filtros {
  h3 {
    text-align: center;
  }

  &-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (max-width: 1450px) {
  .buscador-maps {
    width: 10vw;
  }
}

@media screen and (max-width: 992px) {
  .filters {
    nav {
      width: 100%;

      .show {
        width: 30vw;
      }

      .dropdown-menu {
        width: 55vw !important;
      }
    }
  }
  .filtros-container {
    flex-direction: row;
    justify-content: space-around;
  }
  .filter-location {
    display: flex;
    flex-direction: column;
    .buscador-maps {
      width: 20vw;
    }
  }
  .buscador-maps {
    width: 25vw;
  }
  .boton-maps {
    width: 30vw;
  }
}

@media screen and (max-width: 768px) {
  .filter-section {
    &-container {
      h4 {
        text-align: start;
      }

      margin: 0;
    }
  }
  .filtros-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5vw;
  }
  .buscador-maps {
    margin-top: 1vh;
    width: 30vw;
  }
  .boton-maps {
    margin: 5px;
  }
}

@media screen and (max-width: 550px) {
  .boton-maps {
    padding: 0;
  }
}
