footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.dedication {
  margin-top: auto;
  margin-bottom: auto;
}

footer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons-link {
  margin-top: 0.5vh;
}

.icons-footer {
  margin: 0.5vw;
}

.icon:hover {
  color: var(--accent-color);
}

@media screen and (max-width: 391px) {
  footer {
    flex-direction: column;
  }

  footer div {
    margin: 1vh 0;
  }

  .dedication {
    margin: 0;
    text-align: center;
  }
}
