.heading-shelter {
  display: flex;
  justify-content: space-between;
  margin: 0 5vw 0 5vw;
}

/* .container-perfil {
  width: 90%;
} */

.links-shelter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.links-container-shelter {
  display: flex;
  justify-content: space-around;
  padding: 1vh;
}

.donate {
  background-color: lightgray;
  width: 10vw;
  height: 5vh;
  border-radius: 1vh;
  font-weight: bold;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-name-location {
  display: flex;
}

.description-shelter {
  display: flex;
  flex-direction: row;
  margin: 0 5vw;
  justify-content: space-evenly;
}

.description-shelter article {
  margin: 2vh 0;
}

.description-shelter article p {
  margin: 1vh 1vw;
  text-align: justify;
}

.description-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.description-gallery img {
  width: 300px;
  margin: 1vh 0.5vw;
}

.go-back-detail {
  padding: 1vh;
  font-weight: bold;
  background-color: green;
  color: white;
  border-radius: 1vh;
  border: 0px;
}

.hero {
  height: 25vw;
  width: 100%;
  object-fit: none;
  margin-top: 2vw;
  border-radius: 5px;
}

.posts-shelter {
  margin: 0 2vw 0 2vw;
  padding: 1vh 2vw 1vh 2vw;
}

.posts-shelter article {
  margin: 1vh 0 1vh 0;
}

.grid-profile {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 1440px) {
  .heading-shelter {
    display: flex;
    flex-direction: column;
  }

  .hero {
    margin: 1vh 0 0 0;
    height: 35vh;
    width: 95vw;
  }

  .grid-profile {
    grid-template-columns: 1fr 1fr;
  }

  .caroussel {
    display: none;
  }

  .donate {
    align-self: center;
  }

  .description-shelter {
    flex-direction: column;
    margin: 1vh 0.5vw;
  }

  .logo-name-location {
    flex-direction: column;
  }

  .links-shelter {
    justify-content: end;
  }

  .donate {
    width: 100px;
  }
  .container-perfil {
    margin: 0;
  }
  .posts-shelter {
    margin: 0;
  }
  .description-gallery {
    align-self: center;
  }
}

@media (max-width: 960px) {
  .grid-profile {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .description-gallery {
    grid-template-columns: 1fr 1fr;
  }
  .description-gallery img {
    width: 45vw;
  }
  .grid-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
}
