.heading-shelter {
  display: flex;
  justify-content: space-between;
  margin: 0 5vw 0 5vw;
}

.links-shelter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.links-container-shelter {
  display: flex;
  justify-content: space-around;
  padding: 1vh;
}

.donate {
  background-color: lightgray;
  width: 10vw;
  height: 5vh;
  border-radius: 1vh;
  font-weight: bold;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-name-location {
  display: flex;
}
