@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/dropdown";
@import "../../../node_modules/bootstrap/scss/nav";
@import "../../../node_modules/bootstrap/scss/navbar";
@import "../../../node_modules/bootstrap/scss/transitions";

.dropdown-menu:hover {
  --bs-dropdown-link-hover-color: transparent;
  --bs-dropdown-link-hover-bg: transparent;
}

.dropdown-item {
  margin: 0;
}

.navbar-brand {
  display: flex;
}

a {
  color: white;
  text-decoration: none;
}

nav {
  background-color: green;
  margin-bottom: 3vh;
}

nav a {
  padding: 0;
  margin: 0 1vw;
}

#basic-nav-dropdown {
  padding: 0;
  color: white;
}

.dropdown-menu {
  background-color: white !important;

  a {
    color: black !important;
  }

}

.header-nav-links-container {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 99;
}

.logo {
  margin-right: auto;
  margin-left: 1vw;
  display: flex;
}

.logo-img {
  width: 4vw;
  border-radius: 50%;
  padding: 10px 10px;
  min-width: 3vw;
}

.navigation {
  margin-right: auto;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  display: inline;
  margin: 0.8vw;
}

.links {
  text-decoration: none;
  color: white;
  font-size: 1.35rem;
}

.links:visited {
  color: white;
}

.links:hover {
  font-weight: bold;
}

.active {
  font-weight: bold;
  font-size: 1.35rem;
}

@media screen and (max-width: 480px) {
  .logo-img {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 15vw;
    padding: 0;
  }

  .navbar-brand {
    margin: 0 5vw;
    padding: 0;
  }
}