.aboutDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
}

.imagen {
    width: 100%;
    height: 100%;
}

.acerca-de-detail {
    margin-top: 5vw;
    align-items: center;
    justify-content: space-between;
}

.titulo {
    display: flex;
    margin-left: 10vw;
}

.parrafo {
    margin-top: 5vw;
    text-align: justify;
    margin-right: 2vw;
}