.aboutDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
}

.imagen {
    width: 100%;
    height: 100%;
}

.acerca-de-detail {
    margin-top: 5vw;
    align-items: center;
    justify-content: space-between;
}
.imagen{
    display: inline;
}

.imagen-parrafo {
    display: none;
}
.parrafo {
    margin-top: 2vw;
    text-align: justify;
    margin-right: 2vw;
    font-size: 20px;
}

.palabraRemarcada {
    color: #008000;
    font-weight: bold;
}

@media(max-width: 1024px){
    .aboutDiv{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .acerca-de-detail{
        text-align: center;
        width: 80vw;
        margin: 0 auto;
    }

    .titulo{
        margin: 0;
    }

    .imagen{
        width: 80vw;
        margin: 0 auto;
    };
}

@media(max-width: 768px){
    .imagen{
        display: none;
    }

    .imagen-parrafo{
        display: inline;
        width: 80vw;
        height: 100%;
    }
}