.card {
  width: 350px;
  height: 400px;
  border: 1px lightgrey solid;
  border-radius: 10px;
  padding: 0.5vw;
  margin: 2vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card-h2 {
  color: black;
}

.donation-card {
  width: 350px;
  height: 350px;
  border: 1px lightgrey solid;
  border-radius: 10px;
  padding: 0.5vw;
  margin: 2vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.donation-card .card-heading {
  display: inline-block;
  margin-top: 1vh;
}

.volunteer-card {
  width: 250px;
  border: 1px lightgrey solid;
  border-radius: 10px;
  padding: 0.5vw;
  margin: 10vh;
}

.card:hover {
  transition-duration: 0.2s;
  transform: scale(1.005);
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.4);
  border-color: lime;
}

.card-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-center {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 1vh;
}

.card-center p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  /* number of lines to show */
  line-clamp: 7;
  -webkit-box-orient: vertical;
}

.card-left {
  position: relative;
  display: flex;
  justify-content: left;
  margin: 1vh;
}

.card-right {
  position: relative;
  display: flex;
  justify-content: right;
  margin: 2vh;
}

.card-right svg {
  width: 40px;
  height: 40px;
}

.tag-urgente {
  position: absolute;
  bottom: -5px;
  right: -5px;
}

.tag-urgente .mantine-Badge-root {
  border-radius: 10px;
}

.card-img-animal {
  width: 250px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.card-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-center-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10px;
  margin-top: 2vh;
}

.card-left-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
  margin: 0vh;
}

.card-right-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: rightß;
  margin: 1vh;
}

.card-shelter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.card-shelter h6 {
  margin-left: 3px;
}

.card-shelter p {
  margin-left: 5px;
  font-size: 0.8rem;
}

.card-volunteer-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-volunteer-info p {
  margin: 20px;
}

.card-descripcion-voluntario {
  width: 250px;
  height: 240px;
  text-align: justify;
}

.card-descripcion-voluntario p {
  margin: auto;
}

.card-img-shelter {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.btn-info {
  background-color: green;
  width: auto;
  height: 30px;
  color: white;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 27px;
  padding-right: 27px;
  border-radius: 1vh;
  margin-right: 5px;
  border: 0px;
  align-self: center;
}

.btn-info:hover {
  opacity: 0.7;
}

.card-volunteer {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

.btn-adopt {
  height: 6vh;
  border-radius: 1vw;
  background-color: green;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 2vh;
  width: 15vw;
  border: 0px;
  font-size: large;
}

.btn-adopt:hover {
  opacity: 0.8;
}

@media (max-width: 1024px) {
  .btn-info {
    border-radius: 1vh;
  }

  .btn-adopt {
    width: 15vw;
  }
}

@media screen and (max-width: 920px) {
  .card {
    width: 300px;
    align-self: center;
  }
}

@media (max-width: 768px) {
  .card {
    margin: 1vh 0;
    width: 90vw;
    align-self: center;
    padding: 1vw;
  }
  .donation-card {
    align-self: center;
    padding: 1vw;
  }

  .btn-info {
    width: 120px;
    margin-right: 5px;
  }

  .btn-adopt {
    margin-top: 2vh;
    width: 30vw;
    height: 5vh;
  }

  .card-shelter-end {
    margin-top: 0.5vh;
  }
}
