.card {
  width: 300px;
  border: 1px lightgrey solid;
  border-radius: 10px;
  padding: 0.5vw;
  margin: 2vh;
  transition-duration: 0.5s;
}

.card:hover {
  transition-duration: 0.5s;
  transition-delay: 0.1s;
  transform: scale(1.1);
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.4);
  border-color: lime;
}

.card-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-center {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 1vh;
}

.tag-urgente {
  position: absolute;
  bottom: -5px;
  right: -5px;
}


.card-img-animal {
  width: 250px;
  height: 300px;
  border-radius: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.card-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-shelter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.card-shelter p {
  margin-left: 10px;
}

.card-img-shelter {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.btn-info {
  background-color: green;
  width: 70px;
  height: 30px;
  border-radius: 0.5vw;
  color: white;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 4px;
  padding-right: 4px;
}

.btn-info:hover {
  opacity: 0.7;
}
