.container-card-shelter {
  width: 30vw;
  height: 35vh;
  background-color: white;
  margin: 2vh;
  padding: 1vh;
  border-radius: 1vh;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-logo-shelter {
  border-radius: 2vh;
}

.card-center-shelter {
  display: flex;
  justify-content: space-around;
}

.card-detail-shelter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 2vw;
}

.card-shelter-end {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 3vh;
}

.card-shelter-end h3 {
  margin-right: 1vw;
}

.btn-info {
  background-color: green;
  width: auto;
  height: 30px;
  color: white;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 27px;
  padding-right: 27px;
  border-radius: 1vh;
  margin-right: 5px;
  border: 0px;
}

.btn-info:hover {
  opacity: 0.7;
}

@media screen and (max-width: 1440px) {
  .container-card-shelter {
    width: 40vw;
    height: 30vh;
    padding: 1vh;
    justify-content: space-around;
  }
  .card-shelter-end h3 {
    font-size: medium;
  }
  .card-shelter-end {
    margin-top: 1.5vh;
  }
}

@media screen and (max-width: 1000px) {
  .container-card-shelter {
    width: 40vw;
    height: 45vh;
    margin: 1vh 0;
    padding: 1.5vh;
  }

  .card-center-shelter {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card-center-shelter p {
    font-size: x-small;
    margin: 0.5vh;
  }

  .card-shelter-end h3 {
    font-size: medium;
  }

  .btn-info {
    border-radius: 1vh;
  }
}
@media screen and (max-width: 768px) {
  .container-card-shelter {
    width: 70vw;
    height: 45vh;
  }

  .card-center-shelter {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card-center-shelter p {
    font-size: small;
    margin: 0.5vh;
  }
}
