.grid-refugios {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: stretch;
  justify-items: center;
}

@media (max-width: 1024px) {
  .grid-refugios {
    grid-template-columns: 1fr;
  }
}
