.grid-animales {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: stretch;
  padding-left: 3vw;
}

@media (max-width: 1440px) {
  .grid-animales {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 920px) {
  .grid-animales {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .grid-animales {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
