.loading {
  margin-top: 35vh;
  margin-bottom: 35vh;
}

.loader {
  display: flex;
  justify-content: center;
  margin: 2vh;
}

.loading h3 {
  margin: 1vh;
  text-align: center;
}

.grid-posts {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 992px) {
  .grid-posts {
    flex-direction: column;
  }
}
