.loading {
  margin-top: 35vh;
  margin-bottom: 35vh;
}

.loader {
  display: flex;
  justify-content: center;
  margin: 2vh;
}

.loading h3 {
  margin: 1vh;
  text-align: center;
}

.container{
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.filters{
  align-self: flex-start;
  margin-right: 6vw;
  margin-top: 5vh;
  height: 100vh;
}

.filtersContainer{
  padding: 1vh;
}

.filter-section{
  margin: 3vh 0;
}