@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&display=swap");

/* 
  font-weight: 300; LIVIANA
  font-weight: 400; NORMAL
  font-weight: 700; NEGRITA
*/
html {
  overflow-y:scroll;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  --accent-color: green;
  --accent-color-lighter: rgb(47, 143, 47);
  --tag-available-background: #a2f2a0;
  --tag-available-text: #4bc348;
  --tag-warning-background: #f2efa0;
  --tag-warning-text: #c3b748;
  --tag-closed-background: #f2a0a0;
  --tag-closed-text: #c34848;
}

#root {
  background-color: #f2f2f2;
}

h1,
h2,
h3,
h4 {
  color: var(--accent-color);
}

h6 {
  color: #999999;
}

.basic {
  margin-left: 1vw;
  margin-right: 1vw;
}

a {
  text-decoration: none;
  /* Esto lo cambie porque sinceramente no veo un carajo */
  color: black;
}

main {
  padding: 0 2vw;
}
